* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  padding: 10px 20px;
}

code {
  font-family: cursive;
}
.nav-routing {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
}
